body{
    background: transparent;
}
a{
    text-decoration: none;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    vertical-align: middle;
}
h3,h4,p{
    margin: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}


.logo{
    margin: 10px 0 0 10px !important;
}
.logo img{
    width: 40px;
}
.logo span{
    font-size: 25px;
    color: #e60011 !important;
    position: relative;
    top: 5px;
}
.search{
    width: 120px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #ab3239;
}

h3.main-title{
    height: 54px;
    text-align: center;
    padding: 16px;
    background-color: #ddede0;
    font-size: 20px;
    margin-bottom: 15px;
}
.main-content{
    margin-top:15px;
    width:100%;
}
.main-content .left-menu{
    width:20%;
}
.main-content .left-menu .content{
    width: calc(100% - 15px);
    background-color: #fff;
    margin-right:15px;
}

.main-content .right-content{
    width: 80%;
    background-color: #fff;
}
.table-agile-info{
    background: #fff;
    border-radius:0;
}
.form-group {
    margin-bottom: 10px !important;
}
.modal-sub-title{
    border-bottom: 1px #ccc dotted;
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-form{
    padding: 0 15px;
}

.modal-form .form-item1{
    margin-bottom: 5px;
}

.modal-form .form-item1 .pre{
    display: inline-block;
    min-width: 80px;
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
}
.modal-form .form-item1 .unit{
    margin-left: 2px;
}
.modal-form.type2 .form-item1 .pre{
    min-width: 120px;
}

.modal-form .form-item1 input.long{
    width: 660px;
}

.modal-form .form-item1 .l200{
    width: 200px;
}

.modal-form .form-item1 input,.modal-form .form-item1 textarea,.modal-form .form-item1 select{
    border-radius: 3px;
    /*outline: none;*/
    border: 1px solid #ccc;
    width: 160px;
    font-size: 14px;
    padding: 3px;
}

.modal-form.type2 .form-item1 input{
    width:65px;
}

.modal-form .form-item1.person-img img{
    width: 116px;
    height: 150px;
    margin-bottom: 5px;
}
