

.dzb-info{
    background-color: #fff;
    height: 200px;
    border-radius: 3px;
    clear: both;
}

.dzb-info .info{
    padding-top: 60px;
    text-align: center;
    width: 200px;
    float:left;
}

.dzb-info .info .count{
    margin-top: 15px;
}
.dzb-info .dw{
    font-size: 20px;
    line-height: 30px;
    margin-left: 25px;
    float:left;
    width: 350px;
}
.dzb-info .dw .dwmc{
    margin-top: 80px;
}
.dzb-info .dw .account{
    margin-top: 15px;
    font-size: 14px;
}

.dzb-info .ewm{
    text-align: center;
    float: right;
    width: 200px;
    height: 100%;
    margin-right: 15px;

}
.dzb-info .ewm img{
    margin-top: 25px;
    width: 130px;
}
.dzb-info .ewm .word{
    font-size: 13px;
    color: #333333;
}
.yy-title{
    margin: 15px 0;
    font-size: 18px;
    color: #333;
}
.yy-info{
    padding: 30px 30px;
    background-color: #fff;
}

.yy-info li p{
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

.yy-info li{
    float:left;
    margin:0 40px 20px 0;
}
.yy-info li img{
    width: 70px;
    height: 70px;
}
.yy-info li a>div{
    text-align: center;
}
.yy-info li a>p{
    width:90px;
    text-align: center;
}
.yy-info li a .add{
    color: #fff;
    font-size: 45px;
    display: inline-block;
    width:70px;
    text-align: center;
    height:70px;
    line-height: 70px;
    border-radius: 5px;
    background-color: #00aaee;
}