

.dzb-info{
    background-color: #fff;
    height: 200px;
    border-radius: 3px;
    clear: both;
}

.dzb-info .info{
    padding-top: 60px;
    text-align: center;
    width: 200px;
    float:left;
}

.dzb-info .info .count{
    margin-top: 15px;
}
.dzb-info .dw{
    font-size: 20px;
    line-height: 30px;
    margin-left: 25px;
    float:left;
    width: 350px;
}
.dzb-info .dw .dwmc{
    margin-top: 80px;
}
.dzb-info .dw .account{
    margin-top: 15px;
    font-size: 14px;
}

.dzb-info .ewm{
    text-align: center;
    float: right;
    width: 200px;
    height: 100%;
    margin-right: 15px;

}
.dzb-info .ewm img{
    margin-top: 25px;
    width: 130px;
}
.dzb-info .ewm .word{
    font-size: 13px;
    color: #333333;
}
.yy-title{
    margin: 15px 0;
    font-size: 18px;
    color: #333;
}
.yy-info{
    padding: 30px 30px;
    background-color: #fff;
}

.yy-info li p{
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

.yy-info li{
    float:left;
    margin:0 40px 20px 0;
}
.yy-info li img{
    width: 70px;
    height: 70px;
}
.yy-info li a>div{
    text-align: center;
}
.yy-info li a>p{
    width:90px;
    text-align: center;
}
.yy-info li a .add{
    color: #fff;
    font-size: 45px;
    display: inline-block;
    width:70px;
    text-align: center;
    height:70px;
    line-height: 70px;
    border-radius: 5px;
    background-color: #00aaee;
}

/*组织机构样式*/
.table-agile-info{
    border-left: 1px dashed #ccc;
    background: #fff;
    border-radius:0;
}
.jgsz{
    width: 100%;
    min-height: 200px;
    background-color: #fff;
    font-size: 14px;
}
.jgsz .left-tree{
    width: 200px;
    /*height: 1000px;*/
}
.jgsz .left-tree .title{
    text-align: center;
    margin:30px 0 15px 0;
    height:57px;
    line-height: 57px;
    font-size: 20px;
    color: #000000;
    background-color: #ddede0;
    border-color: #ddede0 ! important;
}

.ztree *{
    font-size: 16px !important;
}
.ztree ul.level0{
    margin-top: 5px;
}

.ztree .level2{
    margin: 2px 0;
}

.jgsz .right-content{
    width: calc(100% - 200px);
    /*min-height: 1000px;*/
    matgin:auto;
}
.jgsz .right-content .topo{
    text-align: center;
    margin: 30px 20px 0 20px;
    position: relative;
    height: 125px;
    border-bottom: solid #0B61A4 5px;
}
.jgsz .right-content .topo .title-word{
    font-size: 28px;
}
.jgsz .right-content .topo .line{
    position: absolute;
    bottom:0;
    left: 50%;
    height: 80px;
    width: 5px;
    background: #0B61A4;
}
.jgsz .right-content .topo .sub-dw{
    font-size:20px;
    position: absolute;
    top:200px;
    height: 100px;
    /*width: 100%;*/
}
.jgsz .right-content .topo .sub-dw .sub-dw-item{
    position: relative;
    margin: 0 15px;

}
.jgsz .right-content .topo .sub-dw .sub-dw-item .sub-line{
    position: absolute;
    top: -80px;
    left: 50%;
    height: 80px;
    width: 5px;
    background: #0B61A4;
}
.jgsz .right-content table span.cz{
    cursor: pointer;
}

/*数据统计*/
.sjtj .left-menu .content{
    height:600px;
    padding: 15px 0 0 15px;
    font-size: 14px;
}
.sjtj .left-menu .content .title{
    font-size: 18px;
}
.sjtj .right-content .echart{
    width: 100%;
    height: 600px;
    padding: 20px;
}





